<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>My Cool {{title}}</title>
     <link rel="stylesheet" href="{{ '/_assets/roach.css' | url }}">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <script src="https://unpkg.com/@phosphor-icons/web">
     </script>
     <link rel="stylesheet" href="/_assets/roach.css">  
     <link rel="icon" type="image/x-icon" href="/_img/1favicon.png">
     <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
     <meta content="https://mechagic.lexiqqq.com/" property="og:url" />
     <meta content="/_img/1favicon" property="og:image" />
 </head>
  <body>
    <div id="container">
    <div id="flex">
        <main2>
          {{content | safe}}
        </main2>
    </div>
</div>
</body>
</html>

