<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>{{title}}</title>
     <link rel="stylesheet" href="{{ '/_assets/roach.css' | url }}">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
     <script src="https://unpkg.com/@phosphor-icons/web">
     </script>
     <link rel="stylesheet" href="/_assets/roach.css">  
     <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
 </head>
  <body>
<div id="container">
    <div id="header">
        <div class="header__desktop">
            <span style="font-size: 45px;">
                <i class="ph ph-bug">
                </i>
                MECHAGIC'S FUNZONE
                <i class="ph ph-bug">
                </i>
            </span>
        </div>
        <div class="header__mobile">
            <div style="font-size: 40px;">
                <i class="ph ph-bug">
                </i>
                MECHAGIC'S
                <i class="ph ph-bug">
                </i>
            </div>
            <div style="font-size: 40px;">
                <i class="ph ph-bug">
                </i>
                FUNZONE
                <i class="ph ph-bug">
                </i>
            </div>
        </div>
    </div>
    <div id="flex">
        <main3>
        <h1>{{title}}</h1>
          {{content | safe}}

         <center><h3><a href="javascript:window.history.back()">Go Back</a></h3></center>
        </main3>
    </div>
</div>
  </body>
</html>

